.controls-container {
  width: 100%;
  position: fixed;
  bottom: 0;
  margin: 0;
  padding: 0;
}

.controls-icon {
  cursor: pointer;
  width: 4vmin;
  height: 4vmin;
  stroke: white;
  stroke-width: 1.5;
  padding: 2.5vw;
}

.progress-bar-container {
  background: green;
}