.cardview {
  color: white;
  display: flex;
  flex-direction: column;
  margin-left: 30px;
}

.cardview-title {
  font-weight: bold;
  font-size: 20px;
}

.cardview-container {
  padding: 10px 50px 50px 0;
  display: flex;
  overflow-x: scroll;
}

.cardview-container::-webkit-scrollbar {
  display: none;
}

.cardview-model {
  width: 100vw;
  height: 50vh;
  background: black;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  transform: translateY(-50px)
}

.cardview-model-content {
  padding: 20px;
  width: 70vmin;
  height: 91%;
  background: linear-gradient(to right, black 60%, rgba(0, 0, 0, 0));
}

.cardview-model-title {
  object-fit: contain;
  width: 35vmin;
}

.cardview-model-data {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 1vmin 0 0;
  font-weight: bold;
}

.cardview-model-btn-play {
  cursor: pointer;
  color: white;
  outline: none;
  border: none;
  font-weight: 700;
  border-radius: 0.3vmin;
  padding-left: 3vmin;
  padding-right: 3vmin;
  margin-right: 1.5vmin;
  padding-top: 1vmin;
  background-color: rgba(51, 51, 51, 0.8);
  padding-bottom: 1vmin;
  margin-bottom: 10vmin;
}

.cardview-model-btn-mylist {
  cursor: pointer;
  color: white;
  outline: none;
  border: none;
  font-weight: 700;
  border-radius: 0.3vmin;
  padding-left: 3vmin;
  padding-right: 3vmin;
  margin-right: 1.5vmin;
  padding-top: 1vmin;
  background-color: rgba(51, 51, 51, 0.8);
  padding-bottom: 1vmin;
  margin-bottom: 10vmin;
}

.cardview-model-overview {
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(85, 85, 85);
}