.cardview {
  color: white;
  display: flex;
  flex-direction: column;
  margin-left: 30px;
}

.cardview-title {
  font-weight: bold;
  font-size: 20px;
}

.cardview-container {
  padding: 10px 50px 50px 0;
  display: flex;
}