.nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  transition-timing-function: ease-in;
  transition: all 0.5s;
  padding-top: 15px;
}

.nav-black {
  background-color: black;
}

.nav-content {
  display: flex;
  align-items: center;
  margin-left: 3vmin;
}

.nav-content img {
  width: 15vmin;
  object-fit: contain;
}

.nav-content a {
  margin: 2vmin;
}

.nav-link {
  color: white;
  text-decoration: none;
  font-size: 2vmin;
}